/* Lista de tarefas */
.task-list {
  margin-top: 20px;
}

/* Cada item de tarefa */
.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* Texto da tarefa */
.task-text {
  flex: 1;
}

/* Tarefa + info */
.task-content {
    display: flex;
    flex-direction: column;
    /* faz esse container ocupar todo o espaço restante */
    flex: 1;
  }

/* Tarefa concluída com risco */
.task-text.done {
  text-decoration: line-through;
}

/* Campo de edição inline */
.inline-edit {
  flex: 1;
}


/* Faz o input ocupar toda a largura disponível */
.full-width {
  flex: 1;
}
