/* Formulário para adicionar nova tarefa */
.add-task-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Faz o input ocupar toda a largura disponível */
.full-width {
  flex: 1;
   align-items: flex-start;

}


.heigth-cotainer-button{
  height: 76px !important;
}

.heigth-button{
  height: 56px !important;
}
